@using Dou.Misc.Extension
@using Dou.Controllers

@{
	Layout = null;
}

<div class="row">
	<div class="col-9" >
		<div class="form-group field-container " data-field="Check_Number">
			<label class="control-label">查核編號</label>
			<div class="field-content"></div>
		</div>
	</div>
	<div class="col-9" >
		<div class="form-group field-container " data-field="Business_theme">
			<label class="control-label">營業主體</label>
			<div class="field-content"></div>
		</div>
	</div>
	<div class="col-9" >
		<div class="form-group field-container " data-field="otherBusiness_theme">
			<label class="control-label">其他營業主體</label>
			<div class="field-content"></div>
		</div>
	</div>
	<div class="col-9" >
		<div class="form-group field-container " data-field="Gas_Name">
			<label class="control-label">加油(氣)站名稱</label>
			<div class="field-content"></div>
		</div>
	</div>
	<div class="col-9" >
		<div class="form-group field-container " data-field="CheckDate">
			<label class="control-label">檢查日期</label>
			<div class="field-content"></div>
		</div>
	</div>
	<div class="col-9" >
		<div class="form-group field-container " data-field="Address">
			<label class="control-label">地址</label>
			<div class="field-content"></div>
		</div>
	</div>
	<div class="col-9" >
		<div class="form-group field-container " data-field="PhoneNumber">
			<label class="control-label">電話</label>
			<div class="field-content"></div>
		</div>
	</div>
	<div class="col-9" >
		<div class="form-group field-container " data-field="CheckMan">
			<label class="control-label">檢查人員</label>
			<div class="field-content"></div>
		</div>
	</div>
	<div class="border border-primary ps-3 ms-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				一、營業站屋 <br> <span class="ps-3"></span>
				(1)營業室無儲存輕質之揮發性小包裝油品
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="A01">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="A01_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				一、營業站屋 <br> <span class="ps-3"></span>
				(2)站屋、油泵島之地面無油漬
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="A02">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="A02_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				一、營業站屋 <br> <span class="ps-3"></span>
				(3)排水溝無浮油/油漬
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="A03">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="A03_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				一、營業站屋 <br> <span class="ps-3"></span>
				(4)油品儲藏室無其他非油品類可燃物
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="A04">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="A04_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>
	
	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				一、營業站屋 <br> <span class="ps-3"></span>
				(5)油品儲藏室防火門無變形、損壞
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="A05">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="A05_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				一、營業站屋 <br> <span class="ps-3"></span>
				(6)地坪（路面）完好無嚴重龜裂、坑洞
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="A06">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="A06_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				二、電氣設備 <br>
				(1)配電盤操作面板前無堆置雜物且開關箱關閉
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="B01">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="B01_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				二、電氣設備 <br>
				(2)配電盤開關接線端子接觸良好
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="B02">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="B02_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				二、電氣設備 <br>
				(3)配電盤各分路絕緣電阻數值符合規定
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="B03">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="B03_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				二、電氣設備 <br>
				(4)無非防爆性電氣設備或器具置於第一種場所或第二種場所範圍使用
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="B04">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="B04_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				二、電氣設備 <br>
				(5)電氣設備插頭、插座無損壞，線路無鬆散裸露
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="B05">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="B05_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				二、電氣設備 <br>
				(6)電氣設備漏電斷路器試鈕作用正常
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="B06">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="B06_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				二、電氣設備 <br>
				(7)電氣設備接地裝置無脫落
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="B07">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="B07_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				二、電氣設備 <br>
				(8)避雷設施接地裝置無脫落
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="B08">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="B08_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				二、電氣設備 <br>
				(9)緊急照明燈功能正常
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="B09">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="B09_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				二、電氣設備 <br>
				(10)油品儲藏室防爆開關及防爆燈具完好
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="B10">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="B10_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				三、儲油設備 <br>
				(1)卸油口蓋上鎖
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="C01">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="C01_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				三、儲油設備 <br>
				(2)卸油口蓋及墊圈完好
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="C02">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="C02_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				三、儲油設備 <br>
				(3)卸油口油品類別標識正確完好
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="C03">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="C03_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				三、儲油設備 <br>
				(4)卸油口盛油盤內無雜物及卸水口關閉
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="C04">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="C04_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				三、儲油設備 <br>
				(5)卸油口靜電接地棒無毀損、鍍銅無斷裂
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="C05">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="C05_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				三、儲油設備 <br>
				(5)儲油槽陰井蓋板完好
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="C06">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="C06_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				三、儲油設備 <br>
				(7)儲油槽陰井內無積水或積油
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="C07">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="C07_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				三、儲油設備 <br>
				(8)陰井內部及壁板完整
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="C08">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="C08_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				三、儲油設備 <br>
				(9)陰井蓋板油品類別顏色標識正確完好
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="C09">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="C09_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				三、儲油設備 <br>
				(10)手動量油口蓋墊圈完好、蓋妥（或蓋妥後上鎖）
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="C10">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="C10_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				三、儲油設備 <br>
				(11)陰井內油管法蘭及接頭無滲漏
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="C11">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="C11_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				三、儲油設備 <br>
				(12)陰井之油氣濃度未逾25%LEL
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="C12">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="C12_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>
	
	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				三、儲油設備 <br>
				(13)沉油泵馬達等接線盒內無積水、積油
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="C13">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="C13_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				三、儲油設備 <br>
				(14)排氣（通氣）管防雨蓋完整
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="C14">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="C14_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				四、加油設備（加油機） <br>
				(1)加油機底座穩固
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="D01">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="D01_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				四、加油設備（加油機） <br>
				(2)加油機底座四周無漏油跡象
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="D02">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="D02_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>
	
	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				四、加油設備（加油機） <br>
				(3)加油槍及橡皮管無滲漏、無破損
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="D03">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="D03_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				四、加油設備（加油機） <br>
				(4)加油槍之加滿自動跳停裝置功能良好
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="D04">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="D04_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				四、加油設備（加油機） <br>
				(5)加油橡皮管吊管回收裝置功能良好
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="D05">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="D05_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				四、加油設備（加油機） <br>
				(6)運轉無異常
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="D06">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="D06_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				四、加油設備（加油機） <br>
				(7)加油機內無積水、無積油及無油氣，設備接頭無滲漏
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="D07">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="D07_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				四、加油設備（加油機） <br>
				(8)加油機接地裝置無脫落
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="D08">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="D08_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				四、加油設備（加油機） <br>
				(9)傳動皮帶鬆緊度適當〔自吸式〕、無龜裂
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="D09">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="D09_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				四、加油設備（加油機） <br>
				(10)加油機及電氣接線孔配電管接頭、防爆軟管接頭無鬆脫，預留管口密封
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="D10">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="D10_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				四、加油設備（加油機） <br>
				(11)沉油泵加油機緊急遮斷閥固定
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="D11">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="D11_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				五、油氣回收設備 <br>
				(1)第一階段油氣回收口快速接頭蓋上鎖
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="E01">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="E01_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				五、油氣回收設備 <br>
				(2)第一階段油氣回收口快速接頭護蓋墊圈及操作良好
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="E02">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="E02_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				五、油氣回收設備 <br>
				(3)油氣回收槍及同軸皮管無滲漏
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="E03">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="E03_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>
	
	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				六、消防設備（滅火器） <br>
				(1)放置定位
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="F01">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="F01_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				六、消防設備（滅火器） <br>
				(2)消防設備前無堆置雜物
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="F02">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="F02_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				六、消防設備（滅火器） <br>
				(3)滅火器及藥劑未逾有效期限
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="F03">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="F03_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				六、消防設備（滅火器） <br>
				(4)滅火器本體無損傷、銹蝕
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="F04">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="F04_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				六、消防設備（滅火器） <br>
				(5)噴嘴口無異物堵塞
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="F05">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="F05_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				六、消防設備（滅火器） <br>
				(6)噴嘴把手靈活（加壓式滅火器）
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="F06">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="F06_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				六、消防設備（滅火器） <br>
				(7)橡皮管無損傷，接頭旋緊、無銹蝕/裂痕
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="F07">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="F07_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				六、消防設備（滅火器） <br>
				(8)封條完好
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="F08">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="F08_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				六、消防設備（滅火器） <br>
				(9)蓄壓式滅火器壓力指示正常（指針在綠色範圍）
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="F09">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="F09_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				七、標示設備 <br>
				(1)「熄火加油」及「嚴禁煙火」標誌完好
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="G01">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="G01_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				七、標示設備 <br>
				(2)卸油區地面黃線標示清楚
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="G02">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="G02_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				七、標示設備 <br>
				(3)車輛出入口立牌標誌及地面標線完好
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="G03">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="G03_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				七、標示設備 <br>
				(4)雨棚高度標誌完好
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="G04">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="G04_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				七、標示設備 <br>
				(5)燈柱（框架）及基座完好、無銹損
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="G05">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="G05_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				七、標示設備 <br>
				(6)接線蓋板完好
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="G06">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="G06_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				八、靜電（電氣）接地裝置 <br>
				(1)收油口靜電接地電阻<50Ω
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="H01_Value">
				<label class="control-label">實測數值</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="H01">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="H01_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				八、靜電（電氣）   接地裝置 <br>
				(2)加油機接地電阻<25Ω
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="H02_Value">
				<label class="control-label">實測數值</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="H02">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="H02_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				八、靜電（電氣）接地裝置 <br>
				(3)配電盤接地電阻<50Ω
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="H03_Value">
				<label class="control-label">實測數值</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="H03">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="H03_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				八、靜電（電氣）接地裝置 <br>
				(4)避雷針靜電接地電阻<10Ω
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="H04_Value">
				<label class="control-label">實測數值</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="H04">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="H04_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				八、靜電（電氣）接地裝置 <br>
				(5)空氣壓縮機接地電阻<50Ω
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="H05_Value">
				<label class="control-label">實測數值</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="H05">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="H05_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				九、空氣壓縮機 <br>
				(1)運轉無異狀
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="I01">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="I01_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				九、空氣壓縮機 <br>
				(2)接頭無漏氣
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="I02">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="I02_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				九、空氣壓縮機 <br>
				(3)壓力計壓力指示正常
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="I03">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="I03_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				九、空氣壓縮機 <br>
				(4)曲軸箱之機油油位適當
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="I04">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="I04_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				九、空氣壓縮機 <br>
				(5)空壓機接地裝置無脫落
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="I05">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="I05_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				九、空氣壓縮機 <br>
				(6)螺栓及管路接頭無鬆動
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="I06">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="I06_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				九、空氣壓縮機 <br>
				(7)皮帶鬆緊度適當、無龜裂
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="I07">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="I07_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				九、空氣壓縮機 <br>
				(8)壓力洩放並啟動制壓閥作動正常
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="I08">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="I08_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				九、空氣壓縮機 <br>
				(9)安全閥之作用正常
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="I09">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="I09_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				九、空氣壓縮機 <br>
				(10)防護網完好
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="I10">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="I10_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				十、洗車機 <br>
				(1)運轉無異狀
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="J01">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="J01_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				十、洗車機 <br>
				(2)漏電斷路器測試正常
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="J02">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="J02_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				十、洗車機 <br>
				(3)緊急停止裝置測試正常
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="J03">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="J03_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				十一、發電機 <br>
				(1)冷卻水、潤滑油及電瓶液位正常
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="K01">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="K01_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				十一、發電機 <br>
				(2)燃油量充足
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="K02">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="K02_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				十二、特別規定 <br>
				(1)每日盤查各儲油槽油品存量，並作成紀錄
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="L01">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="L01_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				十二、特別規定 <br>
				(2)每月盤查儲油槽存量及自主檢測測漏管油氣濃度(LEL%)並記錄
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="L02">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="L02_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>

	<div class="border border-primary ps-3 ms-2 mt-2">
		<div class="col-12">
			<p class="form-group pt-3 fs-5 text-primary font-weight-bold">
				十二、特別規定 <br>
				(3)每年應依消防法規定由領有證照之專業人員執行消防檢查，並檢附檢查報告，加油站自行安全檢查負責人應檢查相關紀錄與報告是否保存完好
			</p>
		</div>
		<div class="col-9">
			<div class="form-group field-container" data-field="L03">
				<label class="control-label">檢查結果</label>
				<div class="field-content "></div>
			</div>
			<div class="form-group field-container" data-field="L03_Note">
				<label class="control-label">缺失說明(備註)</label>
				<div class="field-content "></div>
			</div>
		</div>
	</div>


</div>



