@using Dou.Misc.Extension
@using Dou.Controllers

@{
	Layout = null;
}

<div class="row">
	<div class="col-9" >
		<div class="form-group field-container " data-field="Business_theme">
			<label class="control-label">營業主體</label>
			<div class="field-content"></div>
		</div>
	</div>
	<div class="col-9" >
		<div class="form-group field-container " data-field="otherBusiness_theme">
			<label class="control-label">其他營業主體</label>
			<div class="field-content"></div>
		</div>
	</div>
	<div class="col-9" >
		<div class="form-group field-container " data-field="Gas_Name">
			<label class="control-label">加油(氣)站名稱</label>
			<div class="field-content"></div>
		</div>
	</div>
	<div class="col-9" >
		<div class="form-group field-container " data-field="CheckDate">
			<label class="control-label">檢查日期</label>
			<div class="field-content"></div>
		</div>
	</div>
	<div class="col-9" >
		<div class="form-group field-container " data-field="Address">
			<label class="control-label">地址</label>
			<div class="field-content"></div>
		</div>
	</div>
	<div class="col-9" >
		<div class="form-group field-container " data-field="PhoneNumber">
			<label class="control-label">電話</label>
			<div class="field-content"></div>
		</div>
	</div>
	<div class="col-9" >
		<div class="form-group field-container " data-field="CheckMan">
			<label class="control-label">檢查人員</label>
			<div class="field-content"></div>
		</div>
	</div>
	
</div>



