
@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<table id="_table"></table>

<script src="~/Scripts/basic/basic.js"></script>
<script src="~/Scripts/prjReport/Audit_Guidance_Check_Basic_Audit_NoTime.js"></script>


