<script src="~/Scripts/prjReport/SelfFuel_UsageState.js"></script>
<script src="~/Scripts/prj/baseb.js"></script>
@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<table id="_table" hidden></table>
<div>
	&lt;報表說明&gt;
	<ol class="first">
		<li>本報表主要可查詢自用加儲油所設定之使用狀況進行分類統計。</li>
		<li>本報表查詢條件是以該自用加儲油之使用狀況所設定的時間進行查詢，日期條件可統計使用狀況資料變更歷程日期，或最新使用狀況設定日期。</li>
	</ol>
</div>
