@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "dou_options")

<table id="_table"></table>

<script src="~/Scripts/basic/basic.js"></script>
<script>
    $(document).ready(function () {
     

        changeFile_nameField('File_name', 'FileDownload/');//讓發文歷程可在表格下載文件



        dou_options.afterCreateEditDataForm = function ($c, row) {

            if (row.File_name == null) {
                showupload('File_name')//沒檔案就顯示可上傳
            }
            else {
                uploadonlytext('File_name', "FileDownload/");//有檔案就顯示檔案
            }
        }


        dou_options.afterEditDataConfirm = function (row, callback) {
         

            //上傳檔案
            upload('File_name', $.AppConfigOptions.baseurl + 'FileDownload/Sendupload', row.UUID, "", callback);

        }





       


        $("#_table").DouEditableTable(dou_options);
    });
</script>
