/OilGas/Upload
/OilGas/OilGas.csproj.user
/OilGas/.vs
/OilGas/obj
/OilGas/bin/Dou.dll.config
/OilGas/bin/Dou.pdb
/OilGas/bin/OilGas.dll
/OilGas/bin/OilGas.dll.config
/OilGas/bin/OilGas.pdb
/OilGas/Properties/PublishProfiles
/OilGas/Web.config.brian_20230830
/OilGas/obj/Debug/.AssemblyReference.cache
/OilGas/.vs/OilGas/FileContentIndex/ad093797-e7e4-4686-a55e-a8a990ae8517.vsidx
/OilGas/.vs/OilGas/FileContentIndex/247ea289-1db0-42a9-a08f-3a2c3f12ce72.vsidx
/OilGas/.vs/OilGas/FileContentIndex/read.lock
/OilGas/Config/Menu.json
/OilGas/Config/Menu.xml
/OilGas/logs
OilGas/Scripts/gis/b3/Components · Bootstrap.html
*.下載
OilGas/OilGas.csproj
/OilGas/bin/Dou.dll
