@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "dou_options")

<table id="_table"></table>

<script src="~/Scripts/basic/basic.js"></script>
<script>
    $(document).ready(function () {

        dou_options.afterCreateEditDataForm = function ($_c, row) {






            //禁止登打
            if ($('[data-field="LawData_FileName"] input').val() != "") {
                $('[data-field="LawData_FileName"] input').prop('disabled', true);              
            }




            if (row.LawData_DownLad == null) {
                showupload('LawData_DownLad')//沒檔案就顯示可上傳
            }
            else {
                uploadonlytext('LawData_DownLad', "Info_LawSearchM\\", true, true)//有檔案就顯示檔案
            }
         
        }


        dou_options.afterEditDataConfirm = function (row, callback) {
          

            //上傳檔案
            upload('LawData_DownLad', $.AppConfigOptions.baseurl + 'Info_LawSearchM/Sendupload', row.LawData_Index, row.LawData_Index, callback);
        }




        dou_options.afterUpdateServerData = function (row, callback) {
            var URL = $.AppConfigOptions.baseurl + 'Law_Math?LawData_FileName=' + row.LawData_FileName
            $(location).attr('href', URL);
        }
        dou_options.afterAddServerData = dou_options.afterUpdateServerData






        $("#_table").DouEditableTable(dou_options);
    });
</script>
