<script src="~/Scripts/prjReport/CarFuel_GSM_Select.js"></script>
<script src="~/Scripts/prj/baseb.js"></script>
@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<table id="_table"></table>
<div>
   &lt;報表說明&gt;
   <ol class="first">
			   <li>公告細八：公告細八列管日期不為空的地下儲油槽資料。</li>
			   <li>公告七條五：公告七條五列管日期不為空的地下儲油槽資料。</li>
			   <li>公告地下水：公告地下水列管日期不為空的地下儲油槽資料。</li>
			   <li>公告控制場址：公告控制場址列管日期不為空的地下儲油槽資料。</li>
			   <li>公告整治場址：公告整治場址列管日期不為空的地下儲油槽資料。</li>
			   <li>解除列管：解除列日期為地下儲油槽資料最新之解除列管的日期。</li>
			   <li>縣市別：地下儲油槽列管地址中有包含該縣市的地下儲油槽資料。</li>
   </ol>
</div>