@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "dou_options")

<table id="_table"></table>


<script src="~/Scripts/basic/basic.js"></script>
<script>
    $(document).ready(function () {
        dou_options.editformSize = { minWidth: 1000 }





        dou_options.afterCreateEditDataForm = function ($_c, row) {

            changetypeposition('LicenseNo1', 'LicenseNo2',  "號")


            //禁止登打
            $('[data-field="Create_date"] input').prop('disabled', true);
            $('[data-field="Create_name"] input').prop('disabled', true);
            $('[data-field="Mod_date"] input').prop('disabled', true);
            $('[data-field="Mod_name"] input').prop('disabled', true);
 





        }










        dou_options.afterUpdateServerData = function (row, callback) {
            var URL = $.AppConfigOptions.baseurl + 'PortGas_Insurance?CaseNo=' + row.CaseNo
            $(location).attr('href', URL);
        }
        dou_options.afterAddServerData = dou_options.afterUpdateServerData








        dou_options.tableOptions.pageSize = 15;
        dou_options.tableOptions.pageList = [15, 30, 80, 200, 500];

        $("#_table").DouEditableTable(dou_options);
    });



  
</script>
