<script src="~/Scripts/prjReport/Audit_ReportSpecificProject.js"></script>
<script src="~/Scripts/prj/baseb.js"></script>
<script src="~/Scripts/highcharts/7.1.2/highcharts.js"></script>
@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<table id="_table"></table>

<div id="container1" class="mt-5" style="min-width: 310px; height: 500px; margin: 0 auto"></div>