<div class="img-container overflow-hidden position-relative">
    <img src="~/Images/hero-img.jpg" alt="" />
    <h1 class="main-title fw-bold position-absolute top-50 translate-middle-y">
        新油氣設施<br />管理資訊系統
    </h1>
</div>
