<style>
	.slide-card:focus{
        outline:none !important;
	}
</style>


<!-- slide section start -->
<section class="slide-section container mt-5 regular slider">
    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic24.jpg" alt="太陽光電犧牲埤塘"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=6"
               class="w-100 text-decoration-none text-black"
               target="_blank"
               title="前往太陽光電犧牲埤塘(另開視窗)"
               >太陽光電犧牲埤塘？</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic25.jpg" alt="智慧節電計畫"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=3"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往智慧節電計畫(另開視窗)">智慧節電計畫-自己的電自己省</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic26.jpg" alt="能源、經濟、環境均衡之永續發展思維"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=2"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往環境均衡之永續發展思維(另開視窗)">能源、經濟、環境均衡之永續發展思維</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic01.jpg" alt="離岸風電問答集"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ECW/populace/infographics/Infographics.aspx?menu_id=2828&info_id=26"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往離岸風電問答集(另開視窗)">【離岸風電】問答集</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic02.jpg" alt="穩定供電重點在調節"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=25"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往穩定供電重點在調節(另開視窗)">穩定供電重點在調節！</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic03.jpg" alt="一分鐘，看懂第三接收站"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=24"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往一分鐘，看懂第三接收站(另開視窗)">一分鐘，看懂第三接收站！</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic04.jpg" alt="能源知識小學堂-再生能源篇"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=28"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往能源知識小學堂-再生能源篇(另開視窗)">能源知識小學堂-再生能源篇</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic05.jpg" alt="一分鐘帶你認識離岸風電"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=27"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往一分鐘帶你認識離岸風電(另開視窗)">一分鐘帶你認識離岸風電</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic06.jpg" alt="停電事故逐年降低"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=23"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往停電事故逐年降低(另開視窗)">停電事故 逐年降低</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic07.jpg" alt="台電在規定範圍內調整電壓及頻率 不影響供電品質及用戶設備"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=21"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往台電在規定範圍內調整電壓及頻率不影響供電品質及用戶設備(另開視窗)">台電在規定範圍內調整電壓及頻率 不影響供電品質及用戶設備</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic08.jpg" alt="核四燃料外運含拆解費6.9億元 未來年省１億元管理費"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=22"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往核四燃料外運含拆解費6.9億元未來年省１億元管理費(另開視窗)">核四燃料外運含拆解費6.9億元 未來年省１億元管理費</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic09.jpg" alt="穩定供電，品質不變"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=20"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往穩定供電，品質不變(另開視窗)">穩定供電，品質不變</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic10.jpg" alt="風電夏季持續發電 提供潔淨能源"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=19"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往風電夏季持續發電 提供潔淨能源(另開視窗)">風電夏季持續發電 提供潔淨能源</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic11.jpg" alt="離岸風電成本會隨市場發展及技術成熟而調降"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=18"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往離岸風電成本會隨市場發展及技術成熟而調降(另開視窗)">離岸風電成本會隨市場發展及技術成熟而調降</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic12.jpg" alt="風力示範機組已證明抗颱耐震實績"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=17"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往風力示範機組已證明抗颱耐震實績(另開視窗)">風力示範機組已證明抗颱耐震實績</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic13.jpg" alt="離岸風力發電"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=5"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往離岸風力發電(另開視窗)">離岸風力發電</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic14.jpg" alt="動力與公用設備補助懶人包"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=16"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往動力與公用設備補助懶人包(另開視窗)">動力與公用設備補助懶人包</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic15.jpg" alt="離岸風電初期躉購費率符合國際價格"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=15"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往離岸風電初期躉購費率符合國際價格(另開視窗)">離岸風電初期躉購費率符合國際價格</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic16.jpg" alt="離岸風電規劃場址遴選結果公布"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=14"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往離岸風電規劃場址遴選結果公布(另開視窗)">離岸風電規劃場址遴選結果公布</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic17.jpg" alt="調整電價八成用戶不受影響"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=12"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往調整電價八成用戶不受影響(另開視窗)">調整電價八成用戶不受影響</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic19.jpg" alt="能源轉型白皮書"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=11"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往能源轉型白皮書(另開視窗)">能源轉型白皮書</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic20.jpg" alt="電價公式明定漲跌3%為限"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=10"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往電價公式明定漲跌3%為限(另開視窗)">電價公式明定漲跌3%為限</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic21.png" alt="再生能源發展條例"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=9"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往再生能源發展條例(另開視窗)">再生能源發展條例</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic22.jpg" alt="一起面對空污"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=8"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往一起面對空污(另開視窗)">一起面對空污</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic23.jpg" alt="綠能屋頂全民參與"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=7"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往綠能屋頂全民參與(另開視窗)">綠能屋頂全民參與</a>
        </div>
    </div>

    <div class="text-center slide-card rounded overflow-hidden border">
        <div class="slide-img-container">
            <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic25.jpg" alt="智慧節電計畫"/>
        </div>
        <div class="p-3">
            <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=3"
               class="w-100 text-decoration-none text-black"
               target="_blank" title="前往智慧節電計畫(另開視窗)">智慧節電計畫-自己的電自己省</a>
        </div>
    </div>
</section>
<!-- slide section end -->