<!-- footer section start -->
<footer class="mt-5">
    <div class="container py-4 d-flex flex-wrap align-items-start justify-content-between gap-3">
        <div>
            <img src="~/Images/logo.png" alt="" />
        </div>
        <div>
            <ul class="mb-0 list-unstyled footer-list fw-bold">
                <li>電話:(02)2772-1370</li>
                <li>傳真:(02)2775-7745</li>
                <li>地址:10492 台北市復興北路2號13樓</li>
                <li>最佳瀏覽器解析度為1024*768以上</li>
            </ul>
        </div>
        <div>
            <ul class="mb-0 list-unstyled footer-list fw-bold">
                <li>經濟部能源署 版權所有</li>
                <li>系統操作和相關問題請洽相關人員</li>
            </ul>
        </div>
    </div>
</footer>
<!-- footer section end -->