<!-- Navbar section start -->
<nav class="navbar sticky-top shadow-sm bg-white">
    <div class="container d-flex">
        <a class="navbar-brand" href="index.html">
            <img src="~/Images/top_logo.png"
                 alt="新油氣設施管理資訊系統"
                 width="auto"
                 height="51" />
        </a>
    </div>
</nav>
<!-- Navbar section end -->