@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<table id="_table"></table>

<script>
    $(document).ready(function () {
        $("#_table").DouEditableTable(douoptions);
    });

</script>
