<h2>ODF說明</h2>

<p>ODF 是一種基於 XML的檔案格式規範，因應試算表、圖表、簡報和文書處理文件等電子文件而設置。其目的為保證使用者能長期存取資料，且不受技術及法律上的障礙。</p>

<p>
    ODF優點有：可免費下載、格式開放、跨平台、跨應用程式的特性、可與國際間交換、適於長久保存並可避免版本升級衝突，目前全球有許多政府單位及企業公開宣誓改用ODF做為正式文件交換與儲存標準，以避免重要資訊遺失。
</p>
<p>
    目前我國常用文書軟體可以分為兩種，一種是商用需要費用的 Microsoft Office，但其並未支援 ODF之格式，造成OpenOffice.org產生之ODF檔案與外界交流的困難。另一種則是自由軟體 Apache OpenOffice，又稱 OpenOffice，是一套開放源代碼的辦公室軟體，可以在多種作業系統上運作。
</p>
<p>
    我國經濟部標準檢驗局已於 2009 年 1 月將開放文件格式(ODF) 標準訂為國家標準(CNS15251)，原行政院研考會於2009年2月公告ODF格式為公交電子交換附件格式之一。
</p>
<p>
    一套 MS OFFICE要價數千元，在這個萬物齊漲的時代，這個費用一定要花嗎？答案是否定的，我們還有其它開源或免費的OFFICE解決方案， OpenOffice 是其中最知名的一套，提供您文書處理，試算表，簡表製作等的功能。
</p>
<p>
    OpenOffice的Writer提供類似WORD的文書處理工作，Calc提供類似Excel的試算處理作業，Impress提供類似PowerPoint的簡報製作，Draw是流程圖及圖片處理，Base是類似Access的資料庫處理，Math協助我們做複雜的數學公式。
</p>
<p>
    最常見的開放格式被用來做為開放文件的文件種類有:<br />
    * .odt 編輯文字的文件(text)<br />
    * .ods 編輯表格的文件(spreadsheets)<br />
    * .odp 編輯簡報的文件(presentations)<br />
    * .odg 編輯繪圖的文件(graphics)
</p>