@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "dou_options")

<table id="_table"></table>

<script src="~/Scripts/basic/basic.js"></script>



<!-- 引入 select2 CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/css/select2.min.css" rel="stylesheet" />
<!-- 引入 select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js"></script>
<script>
    $(document).ready(function () {

        //跳進查核頁
        douHelper.getField(dou_options, "URL").formatter = function (v, r) {

            if (v == null) {
                var text = "-"
            }
            else {
                var text = '<a  href="' + $.AppConfigOptions.baseurl + v + '">查核</a>';
            }
            return (text);
        }

        dou_options.afterCreateEditDataForm = function ($_c, row) {

            //禁止登打
            if ($('[data-field="CheckNo"] input').val() != "") {
                $('[data-field="CaseNo"] input').prop('disabled', true);
                $('[data-field="Gas_Name"] input').prop('disabled', true);
            }
            else {



                //新增要能搜尋加油站，先把原本的地方隱藏
                $('[data-field="CaseNo"] input').addClass('d-none');
                $('[data-field="Gas_Name"] input').addClass('d-none');
                $('[data-field="Gas_Name"] label').addClass('d-none');
                $('div[data-field="CaseNo"] .field-content').append('<input type="text" id="CaseNoforSERCH" class="form-control" placeholder="搜尋" maxlength="200"><button type="button" onclick="serchCaseNo()" class="btn btn-primary "> 搜尋</button>');   //加搜尋欄

       
            }

        }




        $("#_table").DouEditableTable(dou_options);
    });








    //搜尋加油站
    function serchCaseNo() {
        var CaseNo = $('#CaseNoforSERCH').val();
        var type = $('[data-field="CaseType"] select').val();



        var settings = {
            "url": $.AppConfigOptions.baseurl+"Audit_Guidance_Check_List/GetCaseNoSelectList?CaseNoOrName=" + CaseNo + "&type=" + type,
            "method": "GET",
        };

        $.ajax(settings).done(function (response) {



            //組選項
            //val填入CaseNo,Gas_Name，這樣可以直接存Gas_Name，不用再做處理
            var option = "";
            $.each(JSON.parse(response), function (index, value) {
                option = option + '<option value="' + value.CaseNo + ',' + value.Gas_Name + '">' + value.Gas_Name + '(' + value.CaseNo+')</option>'
            });


            //把隱藏的CaseNo填寫欄位變成下拉選單，並填入選項
            $('[data-fn="CaseNo"]').replaceWith('<select class="form-control" data-fn="CaseNo">' + option+'</select>');
            $('[data-field="CaseNo"] input:first').removeClass('d-none');
        });

    }
</script>
