<script src="~/Scripts/prj/act/CarFuel_Update.js"></script>
<script src="~/Scripts/prj/baseb.js"></script>
@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<style>
    .modal-dialog .dropdown-menu.show {
        display: contents;
    }

    .modal-dialog .dropdown-menu.show .inner.show {
        background-color: white;
    }
</style>

<table id="_UpdateForm"></table>
<hr />
<table id="_table"></table>