@{
    Layout = "~/Views/Shared/_F1Layout.cshtml";
}


<div class="news-area col-sm-12 col-xl-8">
    <div class="title-container d-flex align-items-center justify-content-start">
        <h2 class="fw-bold title mb-0">最新消息</h2>
        <div class="line"></div>
    </div>
    <div class="news-list">
        <ul class="mt-2 mb-0 d-flex flex-column gap-2 list-unstyled p-3 py-2">
			<li class="d-flex align-items-start justify-content-start gap-3 fs-5">
				@{
					List<OilGas.Models.news> news = ViewBag.news;
					foreach (var n in news)
					{
						<span class="news-date">@n.news_date.Value.ToString("yyyy/MM/dd")</span>
						<span>
							<a href="#" class="text-decoration-none" title="前往新消息(另開視窗)">@n.news_txt</a>
						</span>
					}
				}
				@*<span class="news-date">2018/01/01</span>
				<span>
					<a href="#" class="text-decoration-none" title="前往新消息(另開視窗)">為加強資訊安全，請各承辦人定期(三個月)變更油氣設施資訊系統密碼</a>
				</span>*@
			</li>

            @*<li class="d-flex align-items-start justify-content-start gap-3 fs-5">
                <span class="news-date">2018/01/01</span>
                <span>
                    <a href="#" class="text-decoration-none">為加強資訊安全，請各承辦人定期(三個月)變更油氣設施資訊系統密碼</a>
                </span>
            </li>*@

            
        </ul>
    </div>
</div>
<div class="link-area col-sm-12 col-xl-4 mt-4 mt-xl-0">
    <div class="title-container d-flex align-items-center justify-content-start">
        <h2 class="fw-bold title mb-0">相關網站</h2>
        <div class="line"></div>
    </div>

    <div class="link-icons d-flex flex-wrap align-items-center justify-content-start gap-3 p-3">
        <div class="icon-card px-3 py-2 rounded d-flex flex-column align-items-center">
            <img src="~/Images/globe-solid.svg" alt="經濟部能源署" width="30" />
            <a href="https://www.moeaboe.gov.tw/ECW/populace/home/Home.aspx"
               target="_blank"
               class="fw-bold mt-1 text-decoration-none text-white text-center"
               title="前往經濟部能源署(另開視窗)">經濟部能源署</a>
        </div>

        <div class="icon-card px-3 py-2 rounded d-flex flex-column align-items-center">
            <img src="~/Images/globe-solid.svg" alt="圖文懶人包" width="30" />
            <a href="https://www.moeaboe.gov.tw/ECW/populace/infographics/Infographics.aspx?menu_id=2828"
               target="_blank"
               class="fw-bold mt-1 text-decoration-none text-white text-center"
               title="前往圖文懶人包(另開視窗)">圖文懶人包</a>
        </div>
    </div>
</div>

