<h2>ODF轉檔文件</h2>

<p>
    LibreOffice：<br />
    支援格式：.odt .ods .odp .odg<br />
    支援平台：Windows, Mac OS, Linux<br />
    LibreOffice Home：<a href="http://zh-tw.libreoffice.org/">http://zh-tw.libreoffice.org/</a>
    <br />
    OpenOffice.org：<br />
    支援格式：.odt .ods .odp .odg<br />
    支援平台：Windows,Mac OS,Linux,FreeBSD,Solaris<br />
    攜帶版本：Windows,Mac OS<br />
    zh:OpenOffice.org中文計劃：<a href="http://zh.openoffice.org/">    http://zh.openoffice.org/ </a>
    <br />
    OpenOffice.org補給站：<a href="http://ooo.tnc.edu.tw/ "> http://ooo.tnc.edu.tw/ </a>
    <br />
    Portable OpenOffice.org OS X：<a href="http://www.freesmug.org/portableapps/openoffice/"> http://www.freesmug.org/portableapps/openoffice/ </a>
</p>