<script src="~/Scripts/prjReport/Audit_Missing_statistics_origin.js"></script>
<script src="~/Scripts/prj/baseb.js"></script>
@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<table id="_table"></table>
<table width="100%" border="1" cellspacing="0" cellpadding="0">
    <thead>
        <tr align="center">
            <td>缺失數定義：檢查設備之各項檢查項目不符合家數之總和。</td>
        </tr>
    </thead>
</table>