<script src="~/Scripts/prjReport/CarFuel_LandData.js"></script>
<script src="~/Scripts/prj/baseb.js"></script>
@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<table id="_table" hidden></table>


