@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous" />

    <!-- slide css start -->
    <link rel="stylesheet" type="text/css" href="~/Content/prj/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/prj/slick-theme.css" />
    <!-- slide css end -->

    <link rel="stylesheet" href="~/Content/prj/style.css" />

    <title>新油氣設施管理資訊系統</title>
</head>
<body>
    <!-- Navbar section start -->
    <nav class="navbar sticky-top shadow-sm bg-white">
        <div class="container d-flex">
            <a class="navbar-brand" href="index.html">
                <img src="~/Images/logo.png"
                     alt="新油氣設施管理資訊系統"
                     width="191"
                     height="51" />
            </a>
        </div>
    </nav>
    <!-- Navbar section end -->
    <!-- main section start -->
    <section class="main container mt-4">
        <div class="row g-4">
            <div class="col-lg-8 col-xl-8 col-xxl-9 order-2 order-lg-2">
                <div class="img-container overflow-hidden position-relative">
                    <img src="~/Images/hero-img.jpg" alt="" />
                    <h1 class="main-title fw-bold position-absolute top-50 translate-middle-y">
                        新油氣設施<br />管理資訊系統
                    </h1>
                </div>
            </div>

            <div class="col-lg-4 col-xl-4 col-xxl-3 order-1 order-lg-2 d-flex align-items-center justify-content-center">
                <div class="input-info rounded overflow-hidden">
                    <h3 class="input-info-title text-center text-white py-2 mb-0">
                        登入專區
                    </h3>
                    <div class="input-info-content p-4 d-flex flex-column align-items-start gap-3">
                        <div class="d-flex align-items-center justify-content-between gap-2 w-100">
                            <span class="fw-bold fs-5">帳 號</span>
                            <input type="text" />
                        </div>
                        <div class="d-flex align-items-center justify-content-between gap-2 w-100">
                            <span class="fw-bold fs-5">密 碼</span>
                            <input type="text" />
                        </div>
                        <div class="d-flex align-items-center justify-content-between gap-2">
                            <span class="fw-bold fs-5">驗證碼</span>
                            <input type="text" />
                        </div>

                        <div class="verification-area">
                            <img src="https://gsl.ftis.org.tw/Account/CheckImageCodeC.aspx"
                                 width="130" />
                            <button class="btn cus-btn-1 text-white p-1 ms-4">
                                刷新圖檔
                            </button>
                        </div>

                        <div class="input-btns d-flex align-items-center justify-content-between mt-3">
                            <button class="btn cus-btn-1 text-white fw-bold px-2 fs-5">
                                登入系統
                            </button>
                            <button class="btn cus-btn-1 text-white fw-bold px-2 fs-5">
                                忘記密碼
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main section end -->
    <!-- announce section start -->
    <section class="announce mt-5">
        <div class="container d-flex flex-column flex-xl-row flex-wrap align-items-start justify-content-between px-3 py-4 p-md-5">
            <div class="news-area col-sm-12 col-xl-8">
                <div class="title-container d-flex align-items-center justify-content-start">
                    <h2 class="fw-bold title mb-0">最新消息</h2>
                    <div class="line"></div>
                </div>
                <div class="news-list">
                    <ul class="mt-2 mb-0 d-flex flex-column gap-2 list-unstyled p-3 py-2">
                        <li class="d-flex align-items-start justify-content-start gap-3 fs-5">
                            <span class="news-date">2018/01/01</span>
                            <span>
                                <a href="#" class="text-decoration-none">為加強資訊安全，請各承辦人定期(三個月)變更油氣設施資訊系統密碼</a>
                            </span>
                        </li>

                        <li class="d-flex align-items-start justify-content-start gap-3 fs-5">
                            <span class="news-date">2018/01/01</span>
                            <span>
                                <a href="#" class="text-decoration-none">為加強資訊安全，請各承辦人定期(三個月)變更油氣設施資訊系統密碼</a>
                            </span>
                        </li>

                        <li class="d-flex align-items-start justify-content-start gap-3 fs-5">
                            <span class="news-date">2018/01/01</span>
                            <span>
                                <a href="#" class="text-decoration-none">為加強資訊安全，請各承辦人定期(三個月)變更油氣設施資訊系統密碼</a>
                            </span>
                        </li>

                        <li class="d-flex align-items-start justify-content-start gap-3 fs-5">
                            <span class="news-date">2018/01/01</span>
                            <span>
                                <a href="#" class="text-decoration-none">為加強資訊安全，請各承辦人定期(三個月)變更油氣設施資訊系統密碼</a>
                            </span>
                        </li>

                        <li class="d-flex align-items-start justify-content-start gap-3 fs-5">
                            <span class="news-date">2018/01/01</span>
                            <span>
                                <a href="#" class="text-decoration-none">為加強資訊安全，請各承辦人定期(三個月)變更油氣設施資訊系統密碼</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="link-area col-sm-12 col-xl-4 mt-4 mt-xl-0">
                <div class="title-container d-flex align-items-center justify-content-start">
                    <h2 class="fw-bold title mb-0">相關網站</h2>
                    <div class="line"></div>
                </div>

                <div class="link-icons d-flex flex-wrap align-items-center justify-content-start gap-3 p-3">
                    <div class="icon-card px-3 py-2 rounded d-flex flex-column align-items-center">
                        <img src="~/Images/globe-solid.svg" alt="" width="30" />
                        <a href="https://www.moeaboe.gov.tw/ECW/populace/home/Home.aspx"
                           target="_blank"
                           class="fw-bold mt-1 text-decoration-none text-white text-center">經濟部能源署</a>
                    </div>

                    <div class="icon-card px-3 py-2 rounded d-flex flex-column align-items-center">
                        <img src="~/Images/globe-solid.svg" alt="" width="30" />
                        <a href="https://www.moeaboe.gov.tw/ECW/populace/infographics/Infographics.aspx?menu_id=2828"
                           target="_blank"
                           class="fw-bold mt-1 text-decoration-none text-white text-center">圖文懶人包</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- announce section end -->
    <!-- slide section start -->
    <section class="slide-section container mt-5 regular slider">
        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic24.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=6"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">太陽光電犧牲埤塘？</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic25.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=3"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">智慧節電計畫-自己的電自己省</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic26.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=2"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">能源、經濟、環境均衡之永續發展思維</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic01.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ECW/populace/infographics/Infographics.aspx?menu_id=2828&info_id=26"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">【離岸風電】問答集</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic02.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=25"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">穩定供電重點在調節！</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic03.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=24"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">一分鐘，看懂第三接收站！</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic04.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=28"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">能源知識小學堂-再生能源篇</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic05.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=27"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">一分鐘帶你認識離岸風電</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic06.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=23"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">停電事故 逐年降低</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic07.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=21"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">台電在規定範圍內調整電壓及頻率 不影響供電品質及用戶設備</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic08.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=22"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">核四燃料外運含拆解費6.9億元 未來年省１億元管理費</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic09.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=20"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">穩定供電，品質不變</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic10.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=19"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">風電夏季持續發電 提供潔淨能源</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic11.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=18"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">離岸風電成本會隨市場發展及技術成熟而調降</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic12.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=17"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">風力示範機組已證明抗颱耐震實績</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic13.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=5"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">離岸風力發電</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic14.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=16"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">動力與公用設備補助懶人包</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic15.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=15"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">離岸風電初期躉購費率符合國際價格</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic16.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=14"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">離岸風電規劃場址遴選結果公布</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic17.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=12"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">調整電價八成用戶不受影響</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic19.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=11"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">能源轉型白皮書</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic20.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=10"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">電價公式明定漲跌3%為限</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic21.png" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=9"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">再生能源發展條例</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic22.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=8"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">一起面對空污</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic23.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=7"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">綠能屋頂全民參與</a>
            </div>
        </div>

        <div class="text-center slide-card rounded overflow-hidden border">
            <div class="slide-img-container">
                <img src="https://gsl.ftis.org.tw/_upload/lazybag/pic25.jpg" />
            </div>
            <div class="p-3">
                <a href="https://www.moeaboe.gov.tw/ecw/populace/infographics/infographics.aspx?menu_id=2828&info_id=3"
                   class="w-100 text-decoration-none text-black"
                   target="_blank">智慧節電計畫-自己的電自己省</a>
            </div>
        </div>
    </section>
    <!-- slide section end -->
    <!-- footer section start -->
    <footer class="mt-5">
        <div class="container py-4 d-flex flex-wrap align-items-start justify-content-between gap-3">
            <div>
                <img src="~/Images/logo.png" alt="" />
            </div>
            <div>
                <ul class="mb-0 list-unstyled footer-list fw-bold">
                    <li>電話:(02)2772-1370</li>
                    <li>傳真:(02)2775-7745</li>
                    <li>地址:10492 台北市復興北路2號13樓</li>
                    <li>最佳瀏覽器解析度為1024*768以上</li>
                </ul>
            </div>
            <div>
                <ul class="mb-0 list-unstyled footer-list fw-bold">
                    <li>經濟部能源署 版權所有</li>
                    <li>系統操作和相關問題請洽相關人員</li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- footer section end -->
    <!-- bootstrap script start -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <!-- bootstrap script end -->
    <!-- slide script start -->
    <script type="text/javascript"
            src="~/Scripts/slick/jquery-1.11.0.min.js"></script>
    <script type="text/javascript"
            src="~/Scripts/slick/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slick/slick.min.js"></script>

    <script type="text/javascript">
      $('.regular').slick({
        autoplay: true,
        dots: true,
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 4,
        responsive: [
          {
            breakpoint: 960,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
            },
          },
          {
            breakpoint: 576,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
            },
          },
        ],
      });
    </script>
    <!-- slide script end -->
</body>
</html>
