@using Dou.Misc.Extension
@using Dou.Controllers

@{
    Layout = null;
}

@*@Html.DataEditContainer("xxxxx", "ooooooo", null, "col-sm-9", "col-sm-3")*@

@*<div class="col-9">
    <div class="form-group field-container " data-field="oooo">
        <label class="control-label">xxxx</label>
        <div class="field-content "></div>
    </div>
</div>*@

<div class="row">
    <div class="col-9">
        <div class="form-group field-container " data-field="CaseNo">
            <label class="control-label">加油站編號</label>
            <div class="field-content "></div>
        </div>
    </div>
    <div class="col-9">
        <div class="form-group field-container " data-field="Gas_Name">
            <label class="control-label">加油站名稱</label>
            <div class="field-content "></div>
        </div>
    </div>
    <div class="col-9">
        <div class="form-group field-container " data-field="CheckDate">
            <label class="control-label">檢查日期</label>
            <div class="field-content "></div>
        </div>
    </div>
    <div class="col-9">
        <div class="form-group field-container " data-field="Weather">
            <label class="control-label">天氣</label>
            <div class="field-content "></div>
        </div>
    </div>
    <div class="col-9">
        <div class="form-group field-container " data-field="CheckMan">
            <label class="control-label">檢查人員</label>
            <div class="field-content "></div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                一、營業站屋 <span class="ps-3">(1)營業室門窗完好</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="A01">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A01_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A01_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A01_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                一、營業站屋 <span class="ps-3">(2)衛生盥洗設備(廁所)整潔完好</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="A02">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A02_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A02_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A02_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                一、營業站屋 <span class="ps-3">(3)站屋、油泵島之地面無油漬</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="A03">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A03_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A03_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A03_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                一、營業站屋 <span class="ps-3">(4)排水溝無油漬</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="A04">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A04_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A04_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A04_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                一、營業站屋 <span class="ps-3">(5)油品儲藏室無其他非油品類可燃物</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="A05">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A05_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A05_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A05_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                一、營業站屋 <span class="ps-3">(6)油品儲藏室防火門關閉</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="A06">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A06_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A06_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A06_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>

    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                二、電氣設備 <span class="ps-3">(1)配電盤操作面板前無堆置雜物且開關箱關閉</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="B01">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="B01_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="B01_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="B01_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                二、電氣設備 <span class="ps-3">(2)無非防爆性電氣設備或器具置於第一種場所或第二種場所範圍內使用(詳說明2)</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="B02">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="B02_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="B02_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="B02_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>


    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                三、儲油設備 <span class="ps-3">(1)卸油口蓋上鎖</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="C01">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="C01_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="C01_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="C01_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                三、儲油設備 <span class="ps-3">(2)卸油口蓋及墊圈完好</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="C02">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="C02_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="C02_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="C02_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                三、儲油設備 <span class="ps-3">(3)卸油口盛油盤內無雜物及卸水口關閉</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="C03">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="C03_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="C03_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="C03_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                四、加油設備(加油機) <span class="ps-3">(1)加油槍及橡皮管無滲漏</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="D01">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="D01_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="D01_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="D01_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                四、加油設備(加油機) <span class="ps-3">(2)加油機底座四周無漏油跡象</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="D02">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="D02_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="D02_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="D02_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                四、加油設備(加油機) <span class="ps-3">(3)運轉無異狀</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="D03">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="D03_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="D03_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="D03_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                四、加油設備(加油機) <span class="ps-3">(4)加油槍之加滿自動跳停裝置功能良好</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="D04">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="D04_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="D04_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="D04_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>


    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                五、油氣回收設備(第1及第2階段)<span class="ps-3">(1)第一階段油氣回收口快速接頭蓋上鎖</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="E01">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="E01_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="E01_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="E01_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                五、油氣回收設備(第1及第2階段)<span class="ps-3">(2)第一階段油氣回收口快速接頭護蓋墊圈及操作良好</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="E02">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="E02_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="E02_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="E02_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                五、油氣回收設備(第1及第2階段)<span class="ps-3">(3)油氣回收槍及同軸皮管無滲漏</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="E03">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="E03_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="E03_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="E03_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>


    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                六、消防設備(滅火器)<span class="ps-3">(1)數量符合</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="F01">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="F01_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="F01_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="F01_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                六、消防設備(滅火器)<span class="ps-3">(2)放置定位</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="F02">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="F02_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="F02_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="F02_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                六、消防設備(滅火器)<span class="ps-3">(3)消防設備前無堆置雜物</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="F03">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="F03_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="F03_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="F03_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>


    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                七、標示設備<span class="ps-3">(1)「熄火加油」及「嚴禁煙火」標誌完好</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="G01">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="G01_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="G01_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="G01_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>


    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                八、空氣壓縮機<span class="ps-3">(1)運轉無異狀</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="H01">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="H01_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="H01_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="H01_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                八、空氣壓縮機<span class="ps-3">(2)各部接頭無漏氣</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="H02">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="H02_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="H02_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="H02_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                八、空氣壓縮機<span class="ps-3">(3)壓力計壓力指示正常</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="H03">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="H03_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="H03_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="H03_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                八、空氣壓縮機<span class="ps-3">(4)下班前排除儲氣桶內空氣及積水</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="H04">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="H04_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="H04_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="H04_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>


    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                九、洗車機<span class="ps-3">(1)運轉無異狀</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="I01">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="I01_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="I01_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="I01_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                九、洗車機<span class="ps-3">(2)下班前排除空壓機儲氣桶內空氣及積水</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="I02">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="I02_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="I02_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="I02_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>


    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                十、特別規定<span class="ps-3">(1)每日盤查各儲油槽油品存量，並作成紀錄(詳說明3)</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="j01">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="j01_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="j01_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="j01_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
</div>


