@using Dou.Misc.Extension
@using Dou.Controllers

@{
    Layout = null;
}

@*@Html.DataEditContainer("xxxxx", "ooooooo", null, "col-sm-9", "col-sm-3")*@

@*<div class="col-9">
    <div class="form-group field-container " data-field="oooo">
        <label class="control-label">xxxx</label>
        <div class="field-content "></div>
    </div>
</div>*@

<div class="row">
    <div class="col-9">
        <div class="form-group field-container " data-field="CaseNo">
            <label class="control-label">加油站編號</label>
            <div class="field-content "></div>
        </div>
    </div>
    <div class="col-9">
        <div class="form-group field-container " data-field="Gas_Name">
            <label class="control-label">加油站名稱</label>
            <div class="field-content "></div>
        </div>
    </div>
    <div class="col-9">
        <div class="form-group field-container " data-field="CheckDate">
            <label class="control-label">檢查日期</label>
            <div class="field-content "></div>
        </div>
    </div>
    <div class="col-9">
        <div class="form-group field-container " data-field="Weather">
            <label class="control-label">天氣</label>
            <div class="field-content "></div>
        </div>
    </div>
    <div class="col-9">
        <div class="form-group field-container " data-field="CheckMan">
            <label class="control-label">檢查人員</label>
            <div class="field-content "></div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                一、營業站屋 <span class="ps-3">(1)營業室門窗完好</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="A01">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A01_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A01_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A01_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                一、營業站屋 <span class="ps-3">(2)衛生盥洗設備(廁所)整潔完好</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="A02">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A02_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A02_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A02_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                一、營業站屋 <span class="ps-3">(3)站屋、油泵島之地面無油漬</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="A03">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A03_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A03_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A03_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                一、營業站屋 <span class="ps-3">(4)排水溝無油漬</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="A04">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A04_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A04_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A04_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                一、營業站屋 <span class="ps-3">(5)油品儲藏室無其他非油品類可燃物</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="A05">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A05_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A05_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A05_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2 mt-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">
                一、營業站屋 <span class="ps-3">(6)油品儲藏室防火門關閉</span>
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="A06">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A06_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A06_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A06_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
</div>


