<script src="~/Scripts/prjReport/Audit_Guidance_Check_Basic_AuditDay.js"></script>
@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<table id="_table"></table>