<script src="~/Scripts/prjReport/Audit_CounselingReportMissing2.js"></script>
<script src="~/Scripts/highcharts/7.1.2/highcharts.js"></script>
<script src="~/Scripts/prj/baseb.js"></script>
@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<table id="_table"></table>
<div>
    <ul>
        <li>講習會年度：系統中已匯入的講習會出席資料年度，每次最多可選擇兩個年度來做比較。</li>
        <li>查核輔導年度：系統中有紀錄的查核輔導年度，每次最多可選擇兩個年度來做比較。</li>
        <li>PS：線形圖表示各集團選擇年度的講習會出席率，其刻度尺為圖表右邊X軸；柱狀圖表示各集團選擇年度的平均缺失數，其刻度尺為圖表左邊X軸；。</li>
    </ul>
</div>
<div class="modal fade" id="ITPopUp" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <h3><span id="titledetail"></span></h3>
                <div class="fixed-table-toolbar">
                    <button type="button" class="btn btn-success glyphicon glyphicon-download-alt" onclick="ExportDetailExcel()">匯出Excel</button>
                </div>
                <div class="fixed-table-body default-scrollbar">
                    <table id="_table_detail" class="table table-bordered table-hover">
                        <tr>
                            <th>加氣站編號</th>
                            <th>加氣站名稱</th>
                            <th>營業主體</th>
                            <th>發文日期</th>
                            <th>發文文號</th>
                            <th>發文類別</th>
                            <th>縣市別</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <span id="DetailCount"></span>
                @*<button type="button" class="btn btn-default" onclick="closeDialog()">取消</button>*@
            </div>
        </div>
    </div>
</div>
<div id="container1" style="min-width: 310px; height: 300px; margin: 0 auto"></div>

